#about {
    background-image: url('./Assets/About/corey-agopian-5y4ljzRrDFA-unsplash.jpg');
    background-size: cover;
    background-position: bottom;
    z-index: 1;
}

#aboutScroll {
    position: relative;
}

#aboutBody {
    padding: 20px;
    font-family: 'Acme', sans-serif;
    font-size: 24px;
}

#aboutHead {
    font-size: 70px;
    color: white;
}
