#logoBG {
    text-align: center;
    position: absolute;
    background-image: url('./Assets/FF_blackBG.png');
    background-size: contain;
    background-position: center;
    margin-top: 85px;
    opacity: .25;
    z-index: -1;
    width: 100%;
    height: 500px;
}

#aboutHeader {
    margin-top: 85px;
    position: relative;
    z-index: 1;
    font-family: 'Acme', sans-serif;
    font-size: 24px;
}