#mensHead {
    background-image: url('./Assets/Mens/mensCover.jpg');
    background-size: cover;
    margin: 0 auto;
    height: 250px;
    
}

#glassImg {
    background-color: white;
    border: 1px solid black;
    text-align: center;
    position: relative;
    background-image: url('./Assets/Glasses/glass1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#prodInfo {
    border: 1px solid black;
    position: relative;
    float: right;
}

#prodNav {
    border-bottom: 1px solid black; 
    margin: 0 auto;
    margin-bottom: 30px;
    width: 90%;
    padding: 10px;
}

#mensProdTable {
    position: relative;
}

#prodTable {
    margin: 0 auto;
    width: 90%;
}

#styleToggle {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.mensGlass {
    margin: 0 auto;
    margin-bottom: 30px;
    height: 200px;
    background-color: white;
    border: 3px solid black;
    padding: 10px;
}

#showProdButton {
    width: 100%;
    height: 100%;
}

.styleSwap {
    background-color: none;
    padding: 20px;
}

.styleNav {
    display: inline;
}



